body{
    padding-top: 20px;
}

.category{
    margin-left: 14px; 
}

.category-title:hover{
    background-color:#1e90ff;
}
.category-title{
    padding: 5px;
    background-color:#5f9ea0;
    border-style: groove;
    cursor:pointer;
}

.tbl-data {
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    /* margin-left: 14px; */
}

.sort-td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}