body{
    padding-top: 20px;
}

.category{
    margin-left: 14px; 
}

.category-title:hover{
    background-color:#1e90ff;
}
.category-title{
    padding: 5px;
    background-color:#5f9ea0;
    border-style: groove;
    cursor:pointer;
}

.tbl-data {
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: 14px;
}